.contact {
  @include flex($gap: 15px);
  @include bg-image('workspace-bg.png', cover, $blend: overlay);
  background-color: hsla(226, 25%, 22%, 0.7);
  min-height: 400px;
  padding: 250px 25px 100px;

  .form {
    position: relative;
    top: 15px;
  }

  .title--white {
    position: absolute;
    top: 50px;
  }

  .description--contact {
    position: absolute;
    top: 110px;
  }

  @include mq('small') {
    .description {
      top: 100px;
    }
  }
}
