.footer {
  @include flex;
  min-height: 100px;

  .direitos-reservados {
    color: $header-text-color;
    font-family: $header-font-stack;
    font-size: clamp(1.6rem, 4vw, 2rem);
    font-weight: 400;
  }
}