header {
  @include flex($justify: space-between);
  width: 100%;
  max-width: breakpoint('huge');
  height: 70px;
  padding-left: 8%;
  padding-right: 2%;

  @include mq('large') {
    .nav__list {
      gap: 30px !important;
    }
  }

  @include mq('medium') {
    .nav__list {
      gap: 20px !important;
    }
  }

  @include mq('tiny') {
    justify-content: flex-start;
  }
}
