header {
  @include flex($justify: space-between);
  width: 100%;
  max-width: breakpoint('huge');
  height: 70px;
  padding-left: 25px;
  padding-right: 15px;

  @include mq('large') {
    .nav__list {
      gap: 10px !important;
    }
  }

  @include mq('medium') {
    .nav__list {
      gap: 0px !important;
    }
  }

  @include mq('tiny') {
    justify-content: flex-start;
  }
}
