.rachi {
  @include bg-image('Working-from-anywhere-rafiki.svg');
  min-height: 640px;
  background-color: $main-bg-color;

  .title--large {
    position: absolute;
    top: 180px;
    margin-inline: 40px;
  }

  .button {
    position: absolute;
    top: 400px;
    margin-inline: 50px;
  }

  @include mq('large') {
    min-height: 780px;
    background-position: bottom right;
  }


  @include mq('small') {
    min-height: 750px;
    background-position: bottom;

    .title--large {
      top: 100px;
    }

    .button {
      top: 290px;
    }
  }
}
