.rachi {
  @include bg-img('Working-from-anywhere-rafiki.svg');
  min-height: 640px;
  background-color: $main-bg-color;

  .title--large {
    position: absolute;
    left: 10%;
    top: 25%;
  }

  .button {
    position: absolute;
    left: 10%;
    top: 62%;
  }

  @include mq('large') {
    min-height: 740px;
    background-position: bottom right;

    .title--large {
      top: 15%;
    }

    .button {
      top: 42.5%;
    }
  }

  @include mq('small') {
    background-position: bottom;

    .button {
      top: 37.5%;
    }
  }

  @include mq('tiny') {
    .button {
      top: 35%;
    }
  }

  @include mq('min') {
    .button {
      top: 37%;
    }
  }
}
