.card {
  $preferido-bg-color: color('gray-200');
  $preferido-header-text-color: color('white');
  $preferido-text-color: color('gray-light');

  @include flex(column);
  flex: 1 300px;
  max-width: 370px;
  min-height: 470px;
  position: relative;
  padding: 55px 35px 65px;
  border-radius: 8px;
  background-color: $main-bg-color;
  box-shadow: 10px 10px 30px hsl(0, 0%, 90%), -5px -5px 30px hsl(0, 0%, 95%);

  .card__best-seller {
    position: absolute;
    top: -4px;
    right: -15px;
    transform: scale(1.2);
  }

  .card__title {
    color: $header-text-color;
    font-family: $header-font-stack;
    font-weight: 600;
    font-size: 2.4rem;

    &--preferido {
      @extend .card__title;
      color: $preferido-header-text-color;
      font-size: 3.2rem;
    }
  }

  .card__preferido {
    @extend .button;
    position: relative;
    top: -15px;
    padding: 6px 25px;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-radius: 15px;
    box-shadow: none;

    &:hover {
    outline: none;
    color: $button-text-color;
    background-color: $main-theme-color;
    }
  }

  .card__price {
    color: $header-text-color;
    font-family: 'Roboto';
    font-weight: 700;

    .card__price__sign {
      font-size: 2rem;
      vertical-align: 20px;
    }

    .card__price__value {
      font-size: 5rem;
    }

    .card__price__period {
      font-size: 2.6rem;
    }

    &--preferido {
      @extend .card__price;
      position: relative;
      top: -25px;
      color: $preferido-header-text-color;
    }
  }

  .card__description {
    color: $text-color;
    font-size: 1.8rem;
    text-align: center;

    &--preferido {
      @extend .card__description;
      position: relative;
      top: -20px;
      color: $preferido-text-color;
    }
  }

  .card__button {
    @extend .button;
    padding: 8px 80px;
    font-family: $nunita-font-stack;
    font-weight: 700;

    &--preferido {
      @extend .card__button;
      box-shadow: 1px 3px 10px hsla(209, 84%, 48%, 0.5);

      &:hover {
        outline: 6px double;
        color: $main-theme-color;
        background-color: $button-text-color;
        animation: float 2s ease-in-out infinite;
      }
    }
  }

  &--preferido {
    @extend .card;
    padding: 25px 35px 65px;
    background-color: $preferido-bg-color;
    transform: translateY(-20px);

    @include mq('large') {
      transform: translateY(-5px);
    }

    @include mq('small') {
      transform: translateY(5px);
    }
  }
}
