.description {
  width: min(70vw, 560px);
  color: $text-color;
  font-size: clamp(1.6rem, 3vw, 1.8rem);
  font-weight: 400;
  text-align: center;

  &--contact {
    @extend .description;
    color: color('gray-light');
  }
}