.nav {
  .nav__list {
    @include flex($gap: 50px);
    font-family: $text-font-stack;
    font-size: min(3.6vw, 1.8rem);
    font-weight: 500;
  }

  .nav__list-item {
    &--no-style {
      @extend .nav__list-item;
      list-style: none;
    }
  }

  .nav__link {
    color: $link-color;
  }

  @include mq('small') {
    display: none;
  }
}
