html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 0.5px solid;
}

body {
  width: 100%;
  max-width: breapoint('huge');
  overflow-x: hidden;
  background-color: color('white');
}

section {
  // width: 100%;
  // max-width: breakpoint('huge');
  position: relative;
}

a {
  text-decoration: none;
}
